.home-body-container {
    height: 100%;
    padding-top: 60px;
}
.home-body-container .home-body-cover {
    height: fit-content;
    position: relative;
}
.home-body-container .home-body-cover img {
    width: 100%;
}
.home-body-container .home-body-cover .home-body-text {
    position: absolute;
    font-family: QuickSand;
    height: fit-content;
    color: white;
    transform: translate(-50%, -50%);
    top: 14%;
    left: 50%;
    font-size: 4vw;
    font-weight: 900;
    text-align: center;
}
.home-body-container .home-body-cover .home-body-btn {
    position: absolute;
    text-align: center;
    font-size: 28px;
    height: fit-content;
    background-color: black;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border: none;
    color: white;
    padding: 10px 20px;
}
